# Assignment-2
**By Vaisakh Babu**

### Loading Libraries

In [1]:
import sqlite3
import csv
import time
%autosave 10

Autosaving every 10 seconds

### Checking the first few rows of the dataset

In [2]:
csvdata = csv.reader(open('StudentsPerformance1.csv'))
head = 10
for i in csvdata:
    print(i)
    head -= 1
    if head == 0:
        break

['id', 'gender', 'ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course', 'math_score', 'reading_score', 'writing_score']
['0', 'female', 'group B', "bachelor's degree", 'standard', 'none', '72', '72', '74']
['1', 'female', 'group C', 'some college', 'standard', 'completed', '69', '90', '88']
['2', 'female', 'group B', "master's degree", 'standard', 'none', '90', '95', '93']
['3', 'male', 'group A', "associate's degree", 'free/reduced', 'none', '47', '57', '44']
['4', 'male', 'group C', 'some college', 'standard', 'none', '76', '78', '75']
['5', 'female', 'group B', "associate's degree", 'standard', 'none', '71', '83', '78']
['6', 'female', 'group B', 'some college', 'standard', 'completed', '88', '95', '92']
['7', 'male', 'group B', 'some college', 'free/reduced', 'none', '40', '43', '39']
['8', 'male', 'group D', 'high school', 'free/reduced', 'completed', '64', '64', '67']

#### Columns names

In [3]:
csvdata = csv.reader(open('StudentsPerformance1.csv'))
for i in csvdata:
    column_names = tuple(i)
    break
column_names

('id',
 'gender',
 'ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course',
 'math_score',
 'reading_score',
 'writing_score')

### Creating Database and inserting the values

In [4]:
# Fetching Data
csvdata = csv.reader(open('StudentsPerformance1.csv'))

# Establishing connection
con = sqlite3.connect('db1.db')
cur = con.cursor()

# Creating table
cur.execute("DROP TABLE if exists StudentsPerformance")
cur.execute("CREATE TABLE StudentsPerformance(id INT,gender TEXT,ethnicity TEXT,parental_level_of_education TEXT,lunch\
                TEXT,test_preparation_course TEXT,math_score INT,reading_score INT,writing_score INT)")
print("Table created with name StudentsPerformance\n")

# Inserting values to the table
count = 0
t0 = time.time()
for i in csvdata:
    if str.isdigit(i[0]):
        cur.execute("INSERT INTO StudentsPerformance VALUES (?,?,?,?,?,?,?,?,?)",tuple(c for c in i))
        count += 1
t1 = time.time()    
con.commit()
print('%s entries added to StudentsPerformance in %s seconds\n'%(count,round(t1-t0,3)))

# Printing the total number of entries in the table
cur.execute("SELECT count(*) FROM StudentsPerformance")
print("Total number of observations in the table StudentsPerformance : %s \n"%cur.fetchall()[0][0])

# Displaying The first few observations in the database table
head = 3  # Number of observations to be displayed
res = cur.execute("SELECT * FROM StudentsPerformance LIMIT ?",(head,))
l = res.fetchall()
print(f"The first {head} observations are: \n-----------------------------")
for i in l:
    print("id\t\t\t\t: %s\ngender\t\t\t\t: %s\nethnicity\t\t\t: %s\nparental_level_of_education\t: %s\nlunch\t\t\t\t: %s\n\
test_preparation_course\t\t: %s\nmath_score\t\t\t: %s\nreading_score\t\t\t: %s\nwriting_score\t\t\t: %s\n"%tuple(c for c in i))
    print('\n')
    
# Closing the connection
con.close()

Table created with name StudentsPerformance

1000 entries added to StudentsPerformance in 0.006 seconds

Total number of observations in the table StudentsPerformance : 1000

The first 3 observations are:
-----------------------------
id				: 0
gender				: female
ethnicity			: group B
parental_level_of_education	: bachelor's degree
lunch				: standard
test_preparation_course		: none
math_score			: 72
reading_score			: 72
writing_score			: 74



id				: 1
gender				: female
ethnicity			: group C
parental_level_of_education	: some college
lunch				: standard
test_preparation_course		: completed
math_score			: 69
reading_score			: 90
writing_score			: 88



id				: 2
gender				: female
ethnicity			: group B
parental_level_of_education	: master's degree
lunch				: standard
test_preparation_course		: none
math_score			: 90
reading_score			: 95
writing_score			: 93

### Updating values in the database table

In [5]:
con = sqlite3.connect('db1.db')
cur = con.cursor()
cur.execute("UPDATE StudentsPerformance SET test_preparation_course = 'completed' WHERE id = 2")
con.commit()
res = cur.execute("SELECT * from StudentsPerformance WHERE id = 2")
l1 = res.fetchall()
for i in l1:
    print("id\t\t\t\t: %s\ngender\t\t\t\t: %s\nethnicity\t\t\t: %s\nparental_level_of_education\t: %s\nlunch\t\t\t\t: %s\n\
test_preparation_course\t\t: %s\nmath_score\t\t\t: %s\nreading_score\t\t\t: %s\nwriting_score\t\t\t: %s\n"%tuple(c for c in i))
    print('\n')
con.close()

id				: 2
gender				: female
ethnicity			: group B
parental_level_of_education	: master's degree
lunch				: standard
test_preparation_course		: completed
math_score			: 90
reading_score			: 95
writing_score			: 93